.reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.form-justify {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reset-body {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.form-justify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-justify div {
    position: relative;
}

.form-justify div label {
    color: darkgrey;
    position: absolute;
    top: 30px;
    left: 0;
    transition: 0.5s;
    pointer-events: none;
}

.form-justify div input:focus~label,
.form-justify div input:valid~label {
    top: -10px;
    left: 0;
    font-size: 10px;
    color: orange;
    font-weight: bold;
    border: none;
}

.form-justify div input:focus,
.form-justify div input:valid {
    border-bottom: 2px solid #FF8C00;
}